<div class="justspace"></div>
<div class="container">
  <h3 class="text-center">Dashboard Bank Data</h3>
  <hr class="mb-4">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs nav-fill card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#listlahan">Daftar Lahan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#veriflahan">Verifikasi Lahan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#listpublisher">Daftar Publisher</a>
        </li>
      </ul>
    </div>
    <div class="card-body text-justify">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="listlahan" role="tabpanel">
          <app-adminlahan></app-adminlahan>
        </div>
        <div class="tab-pane fade" id="veriflahan" role="tabpanel">
          <app-adminverif></app-adminverif>
        </div>
        <div class="tab-pane fade" id="listpublisher" role="tabpanel">
          <app-adminpublisher></app-adminpublisher>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="justspace"></div>