<div id="wrapper">
  <div id="map" style="width: 100%; height: 600px;"></div>
  <div id="over-map">
    <!-- Kategori -->
    <h6 class="d-inline-block my-1 mr-1">Cari lahan berdasarkan : </h6>
    <div class="d-inline-block dropup m-1">
      <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownType" data-toggle="dropdown">
        {{ selectedType }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownType">
        <button class="dropdown-item px-2" type="button" (click)="setType(type)" *ngFor="let type of objectValues(searchType)">{{ type }}</button>
      </div>
    </div>

    <!-- Wilayah -->
    <div *ngIf="selectedType == 'Wilayah'">
      <h6 class="d-inline-block my-1 mr-1">Provinsi : </h6>
      <div class="d-inline-block dropup m-1" >
        <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownProvinsi" data-toggle="dropdown">
          {{ selectedProvinsi }}
        </button>
        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownProvinsi">
          <button class="dropdown-item px-2" type="button" (click)="setProvinsi(provinsi)" *ngFor="let provinsi of objectValues(searchProvinsi)">{{ provinsi }}</button>
        </div>
      </div>
    </div>
    <div *ngIf="showKabupatenKota == 1">
      <h6 class="d-inline-block my-1 mr-1">Kota/Kabupaten : </h6>
      <div class="d-inline-block dropup m-1" >
        <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownKabupatenKota" data-toggle="dropdown">
          {{ selectedKabupatenKota }}
        </button>
        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownKabupatenKota">
          <button class="dropdown-item px-2" type="button" (click)="setKabupatenKota(kabupatenKota)" *ngFor="let kabupatenKota of objectValues(searchKabupatenKota)">{{ kabupatenKota }}</button>
        </div>
      </div>
    </div>
    <div *ngIf="showKecamatan == 1">
      <h6 class="d-inline-block my-1 mr-1">Kecamatan : </h6>
      <div class="d-inline-block dropup m-1" >
        <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownKecamatan" data-toggle="dropdown">
          {{ selectedKecamatan }}
        </button>
        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownKecamatan">
          <button class="dropdown-item px-2" type="button" (click)="setKecamatan(kecamatan)" *ngFor="let kecamatan of objectValues(searchKecamatan)">{{ kecamatan }}</button>
        </div>
      </div>
    </div>

    <!-- Bidang Pengelolaan -->
    <div *ngIf="selectedType == 'Pengelolaan'">
      <h6 class="d-inline-block my-1 mr-1">Bidang Pengelolaan : </h6>
      <div class="d-inline-block dropup m-1">
        <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownBidang" data-toggle="dropdown">
          {{ selectedBidang }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownBidang">
          <button class="dropdown-item px-2" type="button" (click)="setBidang(bidang)" *ngFor="let bidang of objectValues(searchBidang)">{{ bidang }}</button>
        </div>
      </div>
    </div>

    <!-- Kemitraan -->
    <div *ngIf="selectedType == 'Kemitraan'">
      <h6 class="d-inline-block my-1 mr-1">Jenis Kemitraan : </h6>
      <div class="d-inline-block dropup m-1">
        <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownKemitraan" data-toggle="dropdown">
          {{ selectedKemitraan }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownKemitraan">
          <button class="dropdown-item px-2" type="button" (click)="setKemitraan(kemitraan)" *ngFor="let kemitraan of objectValues(searchKemitraan)">{{ kemitraan }}</button>
        </div>
      </div>
    </div>

    <!-- Luasan -->
    <div *ngIf="selectedType == 'Luasan'">
      <h6 class="d-inline-block my-1 mr-1">Luas Lahan : </h6>
      <div class="d-inline-block dropup m-1">
        <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownLuas" data-toggle="dropdown">
          {{ selectedLuas }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownLuas">
          <button class="dropdown-item px-2" type="button" (click)="setLuas(luas)" *ngFor="let luas of objectValues(searchLuas)">{{ luas }}</button>
        </div>
      </div>
    </div>
  </div>
</div>