@media screen and (max-width: 768px) { 
    h6, button {
        font-size: 75%;
    }
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#wrapper {
    position: relative;
}

#over-map {
    position: absolute; 
    width: auto;
    bottom: 0px; 
    left: 0px; 
    z-index: 99;
    background: #fff;
    padding: 5px;
    border-top: 2px solid #4CAF50;
    border-right: 2px solid #4CAF50;
    border-top-right-radius: 20px;
}

agm-map {
  height: 575px;
}