<footer class="bg-dark pt-2">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="left-footer">
          <h3 class="text-center text-white">Tentang Kami</h3><hr>
          <p class="text-silver text-justify" style="text-indent: 50px;">
              Direktorat Kajian Strategis dan Kebijakan Pertanian (KSKP – IPB) dibentuk oleh Rektor IPB pada Tahun 2013. Terbentuknya KSKP ini tidak terlepas dari keinginan untuk mewujudkan Visi IPB menjadi penggerak prima dalam pengarusutamaan pertanian. Pengarusutamaan pertanian adalah salah satu solusi bangsa IPB sebagai institusi pendidikan pertanian bertekad untuk menjawab berbagai permasalahan yang muncul, baik di bidang pangan, energi maupun lingkungan.
          </p>
        </div>
      </div>
      <div class="col offset-md-1">
        <div class="right-footer">
          <h3 class="text-center text-white">Hubungi Kami</h3><hr>
          <div class="text-silver">
            <p class="text-white m-0"><strong><i class="fa fa-map-marker"></i> Alamat :</strong></p>
            <div class="row">
              <div class="col">Andi Hakim Nasoetion Building 1st Floor Campus IPB Darmaga Bogor 16680 West Java Indonesia</div>
            </div>
            <p class="text-white m-0 mt-2"><strong><i class="fa fa-envelope"></i> Email :</strong></p>
            <div class="row">
              <div class="col text-nowrap">kskp@apps.ipb.ac.id | kskpipb@gmail.com</div>
            </div>
            <p class="text-white m-0 mt-2"><strong><i class="fa fa-globe"></i> Website :</strong></p>
            <div class="row">
              <div class="col text-nowrap">
                <strong><a href="http://kskp.ipb.ac.id/">Web KSKP</a></strong> | 
                <strong><a href="http://journal.ipb.ac.id/index.php/jkebijakan">Jurnal KSKP</a></strong>
              </div>
            </div>
            <p class="text-white m-0 mt-2"><strong><i class="fa fa-phone"></i> Telepon dan Fax :</strong></p>
            <div class="row mb-2">
              <div class="col text-nowrap">+62 251 8625350</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-green mt-2">
        <p class="text-center m-0"><i class="fa fa-copyright"></i> 2017 - Bank Data Lahan Non Produktif</p>
  </div>
</footer>