<footer class="bg-dark pt-2">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="left-footer">
          <h3 class="text-center text-white">Tentang Kami</h3><hr>
          <p class="text-silver text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <div class="col offset-md-1">
        <div class="right-footer">
          <h3 class="text-center text-white">Hubungi Kami</h3><hr>
          <div class="text-silver">
            <p class="text-white m-0"><strong>Parhan Zikkry :</strong></p>
            <div class="row">
              <div class="col text-nowrap"><i class="fa fa-phone"></i> 081234567890</div>
              <div class="col text-nowrap"><i class="fa fa-envelope"></i> parhanzikkry@gmail.com</div>
            </div>
            <p class="text-white m-0 mt-2"><strong>Wawan Setyadi :</strong></p>
            <div class="row">
              <div class="col text-nowrap"><i class="fa fa-phone"></i> 081383126190</div>
              <div class="col text-nowrap"><i class="fa fa-envelope"></i> wawansetyadi@gmail.com</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-green mt-2">
        <p class="text-center m-0"><i class="fa fa-copyright"></i> 2017 - Bank Data</p>
  </div>
</footer>