<table class="table table-striped table-hover table-responsive-md">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama</th>
        <th scope="col">Email</th>
        <th scope="col">No. HP</th>
        <th scope="col">TTL</th>
        <th scope="col">Alamat</th>
        <th scope="col">Pegaturan</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of publisher">
        <th scope="row">{{ data.no }}</th>
        <td>{{ data.nama }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.nohp }}</td>
        <td>{{ data.ttl }}</td>
        <td>{{ data.alamat }}</td>
        <td class="text-center">
          <div class="btn-group" role="group">
            <button (click)="ngDelete(data.id)" type="button" class="btn btn-danger" title="Hapus">
              <i class="fa fa-times"></i> Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>