/* You can add global styles to this file, and also import other style files */
body {
    margin-top: 80px;
    padding-right: 0px !important;
}

.loader {
    position: relative;
    margin-top: -80px;
}