<div class="justspace"></div>
<div class="container">
  <h3 class="text-center pt-2">Publish Lahan</h3><hr>
  <form  class="mt-3">
    <div class="form-separator">
      <h5>Data Pemilik</h5>
    </div>
    <div class="form-group row">
      <label for="nama_pemilik" class="col-sm-2 col-form-label">Nama Lengkap</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nama_pemilik" placeholder="Nama Lengkap">
      </div>
    </div>
    <div class="form-group row">
      <label for="email_pemilik" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email_pemilik" placeholder="Email">
      </div>
    </div>
    <div class="form-group row">
      <label for="no_hp_pemilik" class="col-sm-2 col-form-label">No. HP</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="no_hp_pemilik" placeholder="Nomor HP">
      </div>
    </div>
    <div class="form-group row">
      <label for="ttl_pemilik" class="col-sm-2 col-form-label">TTL</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="ttl_pemilik" placeholder="Tempat Tanggal Lahir">
      </div>
    </div>
    <div class="form-group row">
      <label for="alamat_pemilik" class="col-sm-2 col-form-label">Alamat Pemilik</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="alamat_pemilik" placeholder="Alamat">
      </div>
    </div>
    <div class="form-separator">
      <h5>Deskripsi Lahan</h5>
    </div>
    <div class="form-group row">
      <label for="alamat_lahan" class="col-sm-2 col-form-label">Alamat Lahan</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="alamat_lahan" placeholder="Alamat Lahan">
      </div>
    </div>
    <div class="form-group row">
      <label for="luasan_lahan" class="col-sm-2 col-form-label">Luasan Lahan</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="luasan_lahan" placeholder="Luasan Lahan">
      </div>
    </div>
    <div class="form-group row">
      <label for="sebelumnya" class="col-sm-2 col-form-label">Pengelolaan Sebelumnya</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="sebelumnya" placeholder="Pengelolaan Sebelumnya">
      </div>
    </div>
    <div class="form-group row">
      <label for="bidang_pengelolaan" class="col-sm-2 col-form-label">Bidang Pengelolaan</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="bidang_pengelolaan" placeholder="Bidang Pengelolaan">
      </div>
    </div>
    <div class="form-group row">
      <label for="detail_pengelolaan" class="col-sm-2 col-form-label">Detail Pengelolaan</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="detail_pengelolaan" placeholder="Detail Pengelolaan">
      </div>
    </div>
    <div class="form-group row">
      <label for="kemitraan" class="col-sm-2 col-form-label">Kemitraan</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="kemitraan" placeholder="Kemitraan">
      </div>
    </div>
    <div class="form-group row">
      <label for="detail_kemitraan" class="col-sm-2 col-form-label">Detail Kemitraan</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="detail_kemitraan" placeholder="Detail Kemitraan">
      </div>
    </div>
    <div class="form-separator">
      <h5>Lokasi Lahan</h5>
    </div>
    <div id="map" style="width: 100%; height: 300px; margin-bottom: 20px;"></div>
    <div class="form-group row">
      <label for="latitude_lahan" class="col-sm-2 col-form-label">Latitude</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="latitude_lahan" placeholder="Latitude Lahan">
      </div>
    </div>
    <div class="form-group row">
      <label for="longitude_lahan" class="col-sm-2 col-form-label">Longitude</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="longitude_lahan" placeholder="Longitude Lahan">
      </div>
    </div>
    <div class="form-button">
      <button type="submit" class="btn btn-success">Publish</button>
      <div class="justspace"></div>
    </div>
  </form>
</div>
<div class="justspace"></div>