<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="content-wrapper">
        <div class="content-title">
          Model pemanfaatan lahan non produktif
        </div>
        <div class="content-list">
          <ul class="leaf">
            <li><a routerLink="/">Model 1</a></li>
            <li><a routerLink="/">Model 2</a></li>
            <li><a routerLink="/">Model 3</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="content-wrapper">
        <div class="content-title">
          Peluang usaha lahan non produktif
        </div>
        <div class="content-list">
          <ul class="leaf">
            <li><a routerLink="/">Peluang 1</a></li>
            <li><a routerLink="/">Peluang 2</a></li>
            <li><a routerLink="/">Peluang 3</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="content-wrapper">
        <div class="content-title">
          Berita
        </div>
        <div class="content-list">
          <ul class="leaf">
            <li><a routerLink="/">Berita 1</a></li>              
            <li><a routerLink="/">Berita 1</a></li>              
            <li><a routerLink="/">Berita 1</a></li>              
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>