.jumbotron {
    background: url("../../assets/img/map.png") no-repeat center;
}

.text-nowrap {
    white-space: nowrap;
}

.bg-green {
    background: #4CAF50;
    color: #fff;
}

.bg-cover {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.card-deck {
    margin-bottom: 60px;
}

.card-img-top {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
}