<!-- Selamat Datang -->
<div class="jumbotron jumbotron-fluid m-0">
  <div class="bg-cover text-center pb-3">
    <h1 class="display-4">Selamat datang di Bank Data</h1>
    <p class="lead">Silahkan mencari lahan non produktif sesuai keinginan Anda di sini.</p>
    <a routerLink="/browse" class="btn bg-green btn-lg" role="button">Cari Lahan</a>
  </div>
</div>

<!-- Lahan Kosong Terbaru -->
<div class="container mt-3">
  <h3>Lahan Non Produktif Terbaru</h3><hr>
  <div class="card-deck">
    <div class="card" *ngFor="let lahan of newLahan">
      <img class="card-img-top" [src]="'assets/img/ipb.png'" alt="Foto Lahan">
      <div class="card-body">
        <h5 class="card-title">{{ lahan.pemilik }}</h5>
        <p class="card-text">
          <strong>Luasan</strong> : {{ lahan.luasan }} Ha<br />
          <strong>Kemitraan</strong> : {{ lahan.kemitraan }}<br />
          <strong>Pengelolaan</strong> : {{ lahan.pengelolaan }}<br />
          <strong>Alamat</strong> : {{ lahan.alamat }}
        </p>
      </div>
      <div class="card-footer text-center">
        <a routerLink="/detail/{{ lahan.id }}" class="btn btn-success">Lihat Detail</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h4  class="d-inline-block">Don't mind me</h4>
  <a routerLink="/profile" class="btn btn-danger d-inline-block mb-3">!!</a>
</div>