<div id="wrapper">
  <div class="jumbotron jumbotron-fluid m-0">
    <div class="bg-cover text-center pb-3">
      <h1 class="display-5">
        Selamat datang <span class="d-md-none"><br /></span>di Bank Data<br />
        Lahan Non Produktif <span class="d-md-none"><br /></span>Kabupaten Bogor
      </h1>
      <a routerLink="/browse" class="btn bg-green btn-lg" role="button">Cari Lahan</a>
    </div>
  </div>
  <div id="over-cover">
    <h5 class="d-inline-block sponsor-label">Disponsori oleh : </h5>
    <div class="d-inline-block sponsor-logo"><img [src]="'assets/img/ipb.png'"></div>
    <div class="d-inline-block sponsor-logo"><img [src]="'assets/img/bappeda.png'"></div>
  </div>
</div>