<!-- Selamat Datang -->
<div class="jumbotron jumbotron-fluid m-0">
  <div class="container">
    <h1 class="display-3">Selamat datang di Lahan Kosong</h1>
    <p class="lead">Silahkan mencari lahan kosong sesuai keinginan Anda di sini.</p>
    <a routerLink="/browse" class="btn btn-success btn-lg" role="button">Cari Lahan</a>
  </div>
</div>
<!-- Lahan Kosong Terbaru -->
<div class="container mt-3">
  <h1>Lahan Kosong Terbaru</h1>
  <div class="row">
    <div class="col my-2">
      <div class="card">
        <img class="card-img-top" [src]="'assets/img/lk.png'" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Nama Orang</h4>
          <p class="card-text"><strong>Luasan</strong> : 12 hektare.<br /><strong>Kemitraan</strong> : kemitraan<br /><strong>Alamat</strong> : Jln. Melati V A4 No. 24, Sindangrasa, Bogor Timur, Jawa Barat.</p>
          <a routerLink="/detail" class="btn btn-success">Lihat Detail</a>
        </div>
      </div>
    </div>
    <div class="col my-2">
      <div class="card">
        <img class="card-img-top" [src]="'assets/img/lk.png'" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Nama Orang</h4>
          <p class="card-text"><strong>Luasan</strong> : 12 hektare.<br /><strong>Kemitraan</strong> : kemitraan<br /><strong>Alamat</strong> : Jln. Melati V A4 No. 24, Sindangrasa, Bogor Timur, Jawa Barat.</p>
          <a routerLink="/detail" class="btn btn-success">Lihat Detail</a>
        </div>
      </div>
    </div>
    <div class="col my-2">
      <div class="card">
        <img class="card-img-top" [src]="'assets/img/lk.png'" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Nama Orang</h4>
          <p class="card-text"><strong>Luasan</strong> : 12 hektare.<br /><strong>Kemitraan</strong> : kemitraan<br /><strong>Alamat</strong> : Jln. Melati V A4 No. 24, Sindangrasa, Bogor Timur, Jawa Barat.</p>
          <a routerLink="/detail" class="btn btn-success">Lihat Detail</a>
        </div>
      </div>
    </div>
    <div class="col my-2">
      <div class="card">
        <img class="card-img-top" [src]="'assets/img/lk.png'" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Nama Orang</h4>
          <p class="card-text"><strong>Luasan</strong> : 12 hektare.<br /><strong>Kemitraan</strong> : kemitraan<br /><strong>Alamat</strong> : Jln. Melati V A4 No. 24, Sindangrasa, Bogor Timur, Jawa Barat.</p>
          <a routerLink="/detail" class="btn btn-success">Lihat Detail</a>
        </div>
      </div>
    </div>
    <div class="col my-2">
      <div class="card">
        <img class="card-img-top" [src]="'assets/img/lk.png'" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Nama Orang</h4>
          <p class="card-text"><strong>Luasan</strong> : 12 hektare.<br /><strong>Kemitraan</strong> : kemitraan<br /><strong>Alamat</strong> : Jln. Melati V A4 No. 24, Sindangrasa, Bogor Timur, Jawa Barat.</p>
          <a routerLink="/detail" class="btn btn-success">Lihat Detail</a>
        </div>
      </div>
    </div>
  </div>
</div>