<nav class="navbar navbar-expand-lg bg-green fixed-top">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="">
      <img [src]="'assets/img/ipb.png'" width="30" height="30" class="d-inline-block align-top" alt="Logo">
      Bank Data
    </a>
    <!-- Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/browse"><i class="fa fa-map"></i> Peta</a>
        </li>
        <!-- Belum Login -->
        <li *ngIf="!login" class="nav-item">
          <a class="nav-link" routerLink="/" data-toggle="modal" data-target="#memberModal">
            <i class="fa fa-user"></i> Member Area
          </a>
        </li>
        <!-- Sudah Login -->
        <li *ngIf="login" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navDropdown" role="button" data-toggle="dropdown">
              <i class="fa fa-user"></i> Nama User
          </a>
          <div class="dropdown-menu dropdown-menu-right pt-3 px-3">
            <a class="dropdown-item" routerLink="/profile">Profile</a>
            <a class="dropdown-item" routerLink="/upload">Tambah Lahan</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/">Logout</a>            
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Member Area Modal -->
<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <app-auth></app-auth>
    </div>
  </div>
</div>