.bg-green {
    background: #4caf50;
    color: #fff;
}

.navbar .form-group a {
    color: #4caf50;
}

.navbar-brand, .nav-link {
    color: #fff;
}

.navbar-toggler {
    color: #fff;
    border-color: #fff;
    padding: .2rem .5rem;
}

.navbar-toggler-icon {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}