<table class="table table-striped table-hover table-responsive-md">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pemilik</th>
        <th scope="col">Alamat Lahan</th>
        <th scope="col">Luas</th>
        <th scope="col">Bidang Pengelolaan</th>
        <th scope="col">Kemitraan</th>
        <th scope="col">Pegaturan</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of Arr(5).fill(1)">
        <th scope="row">1</th>
        <td>Yang</td>
        <td>Cantik</td>
        <td>2 Ha</td>
        <td>Pertanian</td>
        <td>Saham</td>
        <td class="text-center">
          <div class="btn-group" role="group">
            <a routerLink="/">
              <button type="button" class="btn btn-primary" title="Lihat">
                <i class="fa fa-eye"></i>
              </button>
            </a>
            <button type="button" class="btn btn-danger" title="Hapus">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>