<table class="table table-striped table-hover table-responsive-md">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pemilik</th>
        <th scope="col">Alamat Lahan</th>
        <th scope="col">Luas</th>
        <th scope="col">Bidang Pengelolaan</th>
        <th scope="col">Kemitraan</th>
        <th scope="col">Pegaturan</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lahan of lahanTerdaftar">
        <th scope="row">{{ lahan.no }}</th>
        <td>{{ lahan.pemilik }}</td>
        <td>{{ lahan.alamat }}</td>
        <td>{{ lahan.luasan }} Ha</td>
        <td>{{ lahan.pengelolaan }}</td>
        <td>{{ lahan.kemitraan }}</td>
        <td class="text-center">
          <div class="btn-group" role="group">
            <a routerLink="/detail/{{ lahan.id }}">
              <button type="button" class="btn btn-primary" title="Lihat">
                <i class="fa fa-eye"></i>
              </button>
            </a>
            <button (click)="ngDeleted(lahan.id)" type="button" class="btn btn-danger" title="Hapus">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
