<div class="bg-dark" style="max-height: 400px;">
  <div class="container">
    <!-- Foto Lahan -->
    <div class="mb-3">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let foto of detailLahan.foto; let i = index">
          <a [attr.href]="foto" data-lightbox="lahan-gallery" data-title="Foto Lahan">
            <img class="d-block mx-auto" [attr.src]="foto" height="400px">
          </a>
          <div class="carousel-caption">
            <h3>Foto lahan {{ valPlus(i) }}</h3>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
<div class="container">    
  <!-- Pemilik Lahan -->
  <div class="row mb-2">
    <h3 class="subtitle">Data Pemilik</h3>
  </div>
  <div class="row">
    <div class="col-md-3 order-md-2 text-center">
      <img class="rounded-circle" [src]="detailLahan.foto_pemilik" alt="Foto Pemilik" width="80%">
    </div>
    <div class="col-md-9 order-1">
      <table class="table mt-3">
        <tr>
          <td>Nama</td>
          <td> : </td>
          <td>{{ detailLahan.nama_pemilik }}</td>
        </tr>
        <tr>
          <td>Alamat</td>
          <td> : </td>
          <td>{{ detailLahan.alamat_pemilik }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td> : </td>
          <td>{{ detailLahan.email_pemilik }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <h3 class="subtitle">Deskripsi Lahan</h3><hr>
  </div>
  <div class="row">
    <table class="table align-top mt-3">
      <tr>
        <td>Alamat</td>
        <td> : </td>
        <td>{{ detailLahan.alamat_lahan }}</td>
      </tr>
      <tr>
        <td>Luasan</td>
        <td> : </td>
        <td>{{ detailLahan.luasan_lahan }} Ha</td>
      </tr>
      <tr>
        <td>Potensi</td>
        <td> : </td>
        <td>{{ detailLahan.potensi_lahan }}</td>
      </tr>
      <tr>
        <td>Pengelolaan sebelumnya</td>
        <td> : </td>
        <td>{{ detailLahan.lahan_sebelumnya }}</td>
      </tr>
      <tr>
        <td>Bidang pengelolaan</td>
        <td> : </td>
        <td>{{ detailLahan.pengelolaan }}</td>
      </tr>
      <tr>
        <td>Kemitraan</td>
        <td> : </td>
        <td>{{ detailLahan.kemitraan }}</td>
      </tr>
    </table>
  </div>
  <div class="row mb-3">
    <h3 class="subtitle">Lokasi Lahan</h3><hr>
  </div>
    <agm-map [latitude]="strToNum(detailLahan.latitude)" 
             [longitude]="strToNum(detailLahan.longitude)"
             [zoom]="zoom">
      <agm-marker [latitude]="strToNum(detailLahan.latitude)"
                  [longitude]="strToNum(detailLahan.longitude)">
        <agm-info-window>
          {{ detailLahan.alamat_lahan }}
        </agm-info-window>
      </agm-marker>
    </agm-map>      
  <div class="row mt-4">
    <h3 class="subtitle">Aksesibilitas Lahan</h3><hr>
  </div>
  <div class="row">
    <table class="table table-responsive align-top mt-3">
      <tr>
        <td>Jarak dengan air</td>
        <td> : </td>
        <td>{{ detailLahan.jarak_air_lahan }}</td>
      </tr>
      <tr>
        <td>Jarak dengan jalan</td>
        <td> : </td>
        <td>{{ detailLahan.jarak_jalan_lahan }}</td>
      </tr>
      <tr>
        <td>Keterangan jalan</td>
        <td> : </td>
        <td>{{ detailLahan.keterangan_jalan_lahan }}</td>
      </tr>
      <tr>
        <td>Jarak dengan pasar</td>
        <td> : </td>
        <td>{{ detailLahan.jarak_pasar_lahan }}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="status.role == 'admin' && detailLahan.status == 'unverif'" class="row verif-button">
    <div (click)="onVerif()" class="btn btn-success">Verif</div>
  </div>
  <div class="justspace"></div>
</div>